{% extends 'base.html' %}
{% load static %}
{% block container %}

  <main class="container mt-3">
    <section class="jumbotron text-center mt-4" style="background: url('static/img/header_500.jpg'); background-position: left; height: 300px;">
      <h1 class="display-4">Ой, ошибка на сервере</h1>
      <p class="lead">Мы уже работаем над этим, попробуйте обновить страницу позже...</p>
      <p class="mt-5 w-50 mx-auto"><a href="/">Перейти на главную</a></p>
    </section>
  </main>

{% endblock %}